
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
}

.details {
  width: 25rem;
}

.details form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
}


.register input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}


.allergyInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
